body {
    margin: 0;
    background-color: black;
}




.bg-img-wrapper {
    background-image: url(1.bg.png);

    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}








.bg-img-wrapper_1 {
    background-image: url(mountain_2.png);
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}

.bg-img-wrapper_3 {
    background-image: url(2.bg.png);
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}

.bg-img-wrapper_4 {
    background-image: url(mountain_3.png);
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}

.bg-img-wrapper_6 {
    background-image: url(1.bg.png);
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    padding: 50px 0 50px 0;
}



.container {
    /*        background-color: rgba(0, 0, 0, 0.53);*/

}

.logo {
    max-width: 7%;
    position: fixed;
}

.logo_bt {
    max-width: 15%;
}


iframe {}



.highlight {
    background-color: #A78612;
    font-weight: 500;
}

h1 {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
}

p {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
}

.feed {
    width: 25%;
}

.overflow_feed {
    overflow: scroll;
}

footer {

    letter-spacing: 3px;

}


.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: white;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: white;

}

header {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
}

.navlogo {
    width: 80px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: white;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
}







.copy {
    font-size: calc(0.7rem + 0.6vw);
}

.copy_quote {
    font-size: calc(1.5rem + 0.6vw);
    max-width: 600px;

}

@media (min-width: 1200px) {
    .title {
        font-size: 4rem;
    }
}
